#root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px;
}

form {
  display: flex;
  gap: 8px;
  width: fit-content;
}

button {
  width: fit-content;
}

input[type="text"] {
  width: 300px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  padding: 4px 8px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  > li:not(:last-child) {
    margin-bottom: 8px;
  }

  > li.complete {
    text-decoration: line-through;
  }
}

.todo-block {
  height: 20px;
  display: flex;
  place-items: center;
  position: relative;

  /* Add styling for absolute positioned checkbox */
  > input[type="checkbox"] {
    position: absolute;
    left: -21px;
  }

  > button:first-of-type {
    cursor: pointer;
    position: absolute;
    left: -36px;
    height: 16px;
    width: 16px;

    /* remove button default styling */
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }

  > div,
  input[type="text"] {
    /* remove input default styling */
    border: none;
    outline: none;
    background-color: transparent;

    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
    padding: 0;
    margin: 0;
    /* height: 16px; */
    width: 300px;
    color: inherit;
  }

  > div {
    cursor: pointer;
    /* Use ellipsis for overflowing text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
